.profile-container {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-container > img {
  border-radius: 50%;
  text-align: center;
  width: 96%;
  border: 5px solid var(--bg-color);
}

.search-container {
  margin: 10px 15px;
  padding: 8px 20px;
  background-color: var(--input-color);
  border-radius: 10px;
}
.search-container input {
  border: none;
  outline: none;
  background-color: transparent;
}
.search-container i {
  color: #555;
  font-size: 1em;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  padding-bottom: 63px;
}

.item img {
  height: 100%;
  border-radius: 5px;
}

.big {
  grid-column: auto/span 1;
  grid-row: auto/span 2;
}
