header {
  width: inherit;
}

header .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

header .head .logo {
  font-family: Billabong;
  font-size: 3em;
  ;
}
header .head .like-direct > i {
  margin-left: 20px;
}

.stories {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.story {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 5px;
}

.profile-container {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--input-color);
}
.profile-container > img {
  border-radius: 50%;
  text-align: center;
  width: 96%;
  outline: 5px solid var(--bg-color);
}

.owl-carousel .owl-item img {
  display: block;
  width: 84%;
}

.your-profile .profile-container{
  background-color: transparent;
}
.your-profile .profile-container>img{
  border: 1px solid white;
  outline: 4px solid var(--bg-color);
}
.story > span {
  text-align: center;
  display: block;
  font-size: 1em;
}
.story > i {
  text-align: center;
  position: absolute !important;
  color: white;
  width: 25px;
  height: 25px;
  line-height: 20px;
  border: 3px solid var(--bg-color);
  background-color: rgb(22, 92, 243);
  border-radius: 50%;
  right: 5px;
  bottom: 30px;
  font-size: 1em;
}
.has > .profile-container {
  background: linear-gradient(
    35deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}
main {
  position: relative;
}

main .posts-container .post-item {
  margin-bottom: 20px;
}

main .posts-container .post-item .post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 3px;
}

main .posts-container .post-item .post-header .profile > .profile-container {
  width: 40px;
  height: auto;
  margin: 8px;
}
main
  .posts-container
  .post-item
  .post-header
  .profile
  > .profile-container
  img {
  width: 100%;
}
main .posts-container .post-item .post-header .id {
  margin-right: auto;
}
main .posts-container .post-item .post-header .id span {
  font-weight: bold;
}
main .posts-container .post-item .post-header i{
 font-size: 1.5em;
}
main .posts-container .post-item .post-footer {
  padding: 5px 10px;
}
main .posts-container .post-item .post-footer .like-comment-save {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 5px;
  position: relative;
}
main
  .posts-container
  .post-item
  .post-footer
  .like-comment-save
  > i:last-child {
  margin-left: auto;
}
main
  .posts-container
  .post-item
  .post-footer
  .like-comment-save
  > i:nth-of-type(3) {
  transform: rotate(-35deg);
  position: absolute;
  left: 90px;
  top: -2px;
}
main .posts-container .post-item .post-footer .line-number {
  margin-bottom: 5px;
}

main .posts-container .post-item .post-footer .discription > p {
  height: 30px;
  margin: 0;
  overflow: hidden;
}
main .posts-container .post-item .post-footer .discription > span {
  font-size: 0.9em;
  color: #888;
}
main .posts-container .post-item .post-footer .discription > .date {
  margin-top: 2px;
  font-size: 0.8em;
  color: #888;
}
main .posts-container .post-item .post-content img {
  border-radius: 5px;
}

main .posts-container .post-item .post-footer .discription > p > span {
  font-weight: bold;
}

footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  position: sticky;
  display: flex;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 0 15px;
  padding-bottom: 15px;
  border-top: 1px solid #eee;
}

footer .profile-container {
  width: 35px;
  height: 35px;
}
footer .profile-container img{
  border: 0.1rem solid white;
}
