:root {
  --bg-color: white;
  --font-color: rgb(34, 34, 34);
  --input-color: #eee;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-size: 12px;
  font-family: sans-serif;
  max-width: 425px ;
  margin: 0 auto;
  background-color: var(--bg-color);
}
* {
  color: var(--font-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}


img {
  width: 100%;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: Billabong;
  src: url(../fonts/Billabong.ttf);
}

i {
  font-size: 2em;
  cursor: pointer;
}

footer {
  height: 60px;
  width:inherit;
  max-width: 426px;
  position: fixed;
  display: flex;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  padding-bottom: 15px;
  border-top: 1px solid var(--input-color);
  background-color: var(--bg-color);
}

footer .profile-container {
  width: 35px;
  height: 35px;
}
footer .profile-container img{
  border: 0.1rem solid white;
}


::-webkit-scrollbar {
  width: 0;
  height: 0;
}